In [1]:
import pandas as pd

In [2]:
import numpy as np

In [86]:
train_data=pd.read_csv('/Users/arunav.dey.7/Desktop/Machine Learning Course Data/titanic_train.csv')

In [87]:
columns_target=['Survived']

In [88]:
columns_train=['Age','Pclass','Sex','Fare']

In [89]:
X=train_data[columns_train]

In [90]:
Y=train_data[columns_target]

In [91]:
X['Age']=X['Age'].fillna(X['Age'].mean())

/Users/arunav.dey.7/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [92]:
d={'male':0,'female':1}
X['Sex']=X['Sex'].apply(lambda x:d[x])
X['Sex'].head()

/Users/arunav.dey.7/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

0    1
1    0
2    0
3    1
4    0
Name: Sex, dtype: int64

In [93]:
X_train=np.array(X)

In [94]:
Y_train=np.array(Y)

In [95]:
test_data=pd.read_csv('/Users/arunav.dey.7/Desktop/Machine Learning Course Data/titanic_test.csv')

In [96]:
columns_test=['Age','Pclass','Sex','Fare']

In [97]:
XT=test_data[columns_test]

In [98]:
XT['Age']=XT['Age'].fillna(XT['Age'].mean())

/Users/arunav.dey.7/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [99]:
e={'male':0,'female':1}
XT['Sex']=XT['Sex'].apply(lambda j:e[j])
XT['Sex'].head()

/Users/arunav.dey.7/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

0    0
1    1
2    0
3    1
4    0
Name: Sex, dtype: int64

In [100]:
X_test=np.array(XT)

In [101]:
pd.DataFrame(X_train)

            0    1    2        3
0    29.00000  2.0  1.0  26.0000
1    29.70056  3.0  0.0   8.0500
2    39.00000  2.0  0.0  26.0000
3    29.00000  3.0  1.0  21.0750
4    25.00000  3.0  0.0   7.0500
..        ...  ...  ...      ...
663  17.00000  2.0  1.0  10.5000
664  29.70056  3.0  0.0   7.7500
665  32.00000  3.0  0.0  56.4958
666  22.00000  3.0  1.0   9.8375
667  29.70056  3.0  1.0  15.5000

[668 rows x 4 columns]

In [102]:
pd.DataFrame(X_test)

             0    1    2         3
0     8.000000  2.0  0.0   36.7500
1    49.000000  1.0  1.0   25.9292
2    29.694775  3.0  0.0    7.7375
3    24.000000  2.0  1.0   27.0000
4    36.000000  1.0  0.0   26.2875
..         ...  ...  ...       ...
218  20.000000  3.0  0.0    7.9250
219  45.000000  1.0  0.0   26.5500
220  17.000000  1.0  1.0  108.9000
221  43.000000  3.0  0.0    6.4500
222  36.500000  2.0  0.0   26.0000

[223 rows x 4 columns]

In [103]:
from sklearn import datasets
from sklearn.linear_model import LogisticRegression

In [115]:
LogReg=LogisticRegression(solver='newton-cg')

In [116]:
LogReg.fit(X_train,Y_train)

/Users/arunav.dey.7/opt/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='newton-cg', tol=0.0001, verbose=0,
                   warm_start=False)

In [117]:
Y_pred=LogReg.predict(X_test)

In [118]:
pd.DataFrame(Y_pred)

     0
0    0
1    1
2    0
3    1
4    0
..  ..
218  0
219  0
220  1
221  0
222  0

[223 rows x 1 columns]

In [119]:
np.savetxt("/Users/arunav.dey.7/Desktop/Machine Learning Course Data/titanic_pred.csv",Y_pred,fmt='%1.0f')